<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ras_screenshot_endpoint</key>
	<string>/referenceappapis/uploadScreenshot</string>
	<key>ras_delete_all_tc_messages_endpoint</key>
	<string>/referenceappapis/deleteAllTcMessages</string>
	<key>ras_notify_test_management_endpoint</key>
	<string>/referenceappapis/notifyTestManagement</string>
	<key>ras_upload_screenshot_endpoint</key>
	<string>/referenceappapis/uploadScreenshot</string>
	<key>device_info</key>
	<string>device info</string>
	<key>three_ds_server_endpoint</key>
	<string>http://tt-226-vd-3dsecure.tt.local:8182/{VERSION_VALUE}/3dsServer/</string>
	<key>sdk_vendor_header_key</key>
	<string>header</string>
	<key>sdk_vendor_key_value</key>
	<string>value</string>
	<key>api_key</key>
	<string>dc664f54-66a6-4ab8-bd2d-eadd4c1c8a5b</string>
	<key>ras_fetch_tc_message_endpoint</key>
	<string>/referenceappapis/fetchTcMessage</string>
	<key>protocol</key>
	<string>http</string>
	<key>rac_ip</key>
	<string>10.69.4.226</string>
	<key>rac_port</key>
	<string>8085</string>
	<key>cardholder_endpoint</key>
	<string>http://tt-226-vd-3dsecure.tt.local:8182/{VERSION_VALUE}/cardholder/</string>
	<key>environmentName</key>
	<string>Keep fetching</string>
	<key>keep-fetching</key>
	<true/>
</dict>
</plist>
